<div id="disqus_thread"></div>
<script>

    var disqus_config = function () {
        this.page.url = document.location.href;
        var pathname = document.location.pathname;
        var dividerList = pathname.split("/");
        if(dividerList[dividerList.length - 1] == "") {
            // there exist trailing "/", we should remove them
            pathname = pathname.slice(0, -1)
        }
        // remove .html if any
        pathname = pathname.replace(".html", "");
        this.page.identifier = pathname;
    };

    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://wkirgsn-github-io.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
